*{
    margin: 0;
    padding: 0;
    font-family:Helvetica, poppins, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
}
html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

.logo
{
    position:fixed ;
    margin: 16px 36px;
    color: white;
    font-weight: bold;
    font-size: 35px;

}
nav{
    position: fixed;
    width: 100%;
    align-items: center;
    

}
nav ul{
    list-style: none;
    background: #ffffff;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 2s;
}
nav.black ul
{
    background-color: #000000;
  
    animation-delay: 10s;
}
nav ul li{
    display: inline-block;
    padding: 20px;

}
nav ul li a{
    text-decoration: none;
    color :white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.container1
{
    display: flex;
    width: 100%;
    height: 100vh;
}

.presentation{
   
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: 35vh;
    width: 600px;

   

}
img{
    width: 500px; 
    height: auto;
    margin: 0 -40px; 
}

body{
    background: rgb(255, 255, 255);
    background-size: 500px;
    background-position: center;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    font-family: 'popins', sans-serif;
    height: 100vh;
}

.container2{
    font-family:Helvetica, poppins, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    width: 100%;
    
    
}

.image{
    display: flex;
    width: 50%;
    height: 60vh;
    
}
.image img{
    margin-left: 500px;
    width: fit-content
}
.txt{
    display: block;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-top: 100px;
    text-align: left;
    height: fit-content;
}
.txt p,h2,h1 {
    height: fit-content;
    font-size: 20px;

    
}
.txt h1{
 font-size: 50px;
}


.card3 h1
{
    font-size: 70px;
    color: aliceblue;
}

/*--------------------------------------MID--------------------------------------------*/
.tit
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: linear-gradient(#fff, #a6a6a6);;
    position: relative;
}
.tit h1
{
    font-size: 72px;
    font-family:Helvetica, poppins, Geneva, Tahoma, sans-serif;
    background-color: #aaaaaa;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px -4px #000000;
    
}


.container3{
    font-family:Helvetica, poppins, Geneva, Tahoma, sans-serif;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 70vh;
    background-color: #a6a6a6;
  
}
/*-----------------------------CARTES------------------------------*/
.card {
    text-decoration: none;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    border-radius: 10px;
    padding: 12px 25px;
    box-sizing: border-box;
    border-style: solid;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 7s;
 }
 .card1
 {
    background-image: url(image/back.jpg);
    background-size: 500px 500px;

 }
 .card2
 {
    background-image: url(image/engrenage.jpg);

 }

.card a{
    align-self: flex-end;
    height: 25%;
    width: 150%;
    background-color: #000000;
    opacity: 0.73;
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
}
.card a:hover{
    background-color: #bebebe;
    transition: 1.5s;
    opacity: 0.73;
}



 .footer
{
    display: block;
    background-color: #000000;
    height: 20vh;
    justify-content: center;
    flex-wrap: wrap;


}
.footer h2
{
    
    color: rgb(255, 255, 255);
   
}
.footer h3
{
    color: rgb(255, 255, 255);
}
/*------------------------------------------------------------------------------------STYLECV-------------------------------------------------------------------------*/

.back {
    height: 100vh;
    width: 100%;
    background-image: url(image/tree.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.back img{
    width: 600px;
    

}
.navbar nav{
    background-color: rgb(78, 24, 24);
}

navbar{
    position: fixed;
    width: 100%;
    align-items: center;
    

}
navbar ul{
    list-style: none;
    background: #000000;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 2s;
}

navbar ul li{
    display: inline-block;
    padding: 20px;

}
navbar ul li a{
    text-decoration: none;
    color :white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;

}
/*-------------------------------------------PROJET-COMPETENCES---------------------------------------------*/
.back-pro {
    height: 100vh;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-self: center;
}
.back-pro h1{
    font-size: 2.5em;
    text-align: center;
   
}
.mydiv1, .mydiv2{
  width: calc( 50% - 40px) ;
  background: #ffffff;
  align-content:center;
}

.mydiv2{
    width: calc( 90% + 80px );
    background: #a6a6a6;
    border-left: 800px solid #fff;
    border-bottom: 100vh solid transparent;
    box-sizing: border-box;
      align-content:center;
    
}

/*-------------------------------------------COMPETENCES---------------------------------------------*/


.container4{
    display: flex;
    height: 50vh;
    background-color: rgb(231, 231, 231);
    justify-content: space-around;
}
.box{
    width: 300px;
    height: 300px;
    border: 30px, solid, rgb(255, 255, 255);
    background-color: #0f1d44;
    border-radius: 50%;
    align-content: center;
}
.box h2,  .box p, .box2{
    color: white;
    text-align: center;
}













/*
.Veille
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}
*/